@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark text-slate-200 font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-slate-50 font-bold;
  }
  a {
    @apply text-brand-accent hover:text-white transition-colors duration-200;
  }
}

/* Custom TOC Styles */
.toc-link.active {
  @apply text-brand-accent font-semibold border-l-2 border-brand-accent pl-2;
}
